* {
  box-sizing: 0;
  margin: 0;

}


.navbar { 
  width: 100%;
  height: 10vh;
  background-color: black;

  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  box-shadow: 10px;
  z-index: 100;
  font-family: monospace;
  

}

a {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-style: solid;
  font-size: 16px;
  font-variant-caps: all-petite-caps;
  transition: all 0.2s ease-in-out;
  
  
 
  
}
a:hover{
  border: 1px solid white;
  background-color: white;
  color:black;
 

}

.footer { 
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.sneakers-list {
  min-height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

img{
  width: 400px;
  height: 300px;
  transition: all 0.3 ease-in-out;
  margin-top: 10px;

}

img:hover{
  transform: scale(1.05);
  z-index: 10;
}

.sneaker{
  text-align: center;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
   align-items: center;
   justify-content: center;

}

.sneaker:hover{
  scale: 10px;
}


button {
  padding: 10px;
  background-color: transparent;
  color: black;
  width: 300px;
  border-color: black;
  border-width: 1px;
  transition: all 0.2s ease-in-out;
  z-index: 80;
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  font-variant-caps: all-petite-caps;
  
  
}

button:hover{
  background-color: black;
  color: white;
  border: 1px;
  border-color: black;
  cursor: pointer;
}

.favorites {
  padding: 100px;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.sneaker-details{

  min-height: 90vh;
  padding-top: 100px;
  margin-left: 40px;
}


